.App {
  min-height: 100vh;
  color: white;
  text-align: center;
  background-color: #282c34;
  padding: 2rem;
}

div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-inline: 10rem;
  background-color: #282c34;
}


input {
  padding: 0.4rem 0.8rem;
}