*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  padding: 2rem;
  color: #fff;
}


form {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

form div{
  display: grid;
  gap: 1rem;
}

form input {
  padding: 0.4rem 0.7rem;
}